.container {
    position: relative;
    text-align: center;
    background-image: url("https://images5.alphacoders.com/133/1335149.jpg");
    background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed; 
   min-height: 100vh; 
}

  .formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-image: url("https://images.alphacoders.com/876/876589.jpg");
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-left: 200px;
    padding: 2em;
    margin-top: 480px;
    height: 300px;
  }
  
  .inputGroup {
    margin-bottom: 20px;
   
  }
  
  .inputGroup input {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
  }
  
  .inputGroup input:focus {
    outline: none;
    border-color: #3a9679;
    border-width: 3px;
  }
  
  .buttonLogin {
    background-color: #3a9679;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
  }
  
  .buttonLogin:hover {
    background-color: #2fdba4;
  }
  
  .errorMessage {
    color: red;
    margin-top: 10px;
  }

  .labels {
    color: white;
    font-weight: 600;
  }